<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-advanced-websocket"
    version="1.0.0">
    <name>Cordova advanced websocket plugin</name>
    <description></description>
  
    <keywords></keywords>
    

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>
        <clobbers target="CordovaWebsocketPlugin" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="CordovaWebsocketPlugin">
          <param name="android-package" value="com.homecontrol.CordovaWebsocketPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>
       <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
          
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <service android:name="com.homecontrol.BackgroundService"  />
       <receiver
            android:name="com.homecontrol.BackgroundBroadCastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="BackGroundService" />
            </intent-filter>
        </receiver>
        </config-file>

      <source-file src="src/android/com/homecontrol/CordovaWebsocketPlugin.java" target-dir="src/com/homecontrol/" />
      <source-file src="src/android/com/homecontrol/SocketConfig.java" target-dir="src/com/homecontrol/" />
      <source-file src="src/android/com/homecontrol/NetworkChangeReceiver.java" target-dir="src/com/homecontrol/" />
      <source-file src="src/android/com/homecontrol/SocketStatus.java" target-dir="src/com/homecontrol/" />
      <source-file src="src/android/com/homecontrol/BackgroundBroadCastReceiver.java" target-dir="src/com/homecontrol/" />
      <source-file src="src/android/com/homecontrol/BackgroundService.java" target-dir="src/com/homecontrol/" />
      <source-file src="src/android/com/homecontrol/Preferences.java" target-dir="src/com/homecontrol/" />
      <source-file src="src/android/com/homecontrol/LocalNotification.java" target-dir="src/com/homecontrol/" />
      <source-file src="src/android/com/homecontrol/BackgroundWebSocket.java" target-dir="src/com/homecontrol/" />

      <framework src="com.squareup.okhttp3:okhttp:3.10.0"/>
      <framework src="com.squareup.okhttp3:okhttp-urlconnection:3.10.0"/>
       <preference name="ANDROID_SUPPORT_V4_VERSION" default="27.+" />
        <framework src="com.android.support:support-v4:$ANDROID_SUPPORT_V4_VERSION" />
    </platform>
</plugin>
        